.pied-de-page{
    margin-top: 50px;
}

.footer{
    text-align: center;
    background-color: black;
    height: 150px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    img{
        filter: invert(1) grayscale(1) brightness(10);
        mix-blend-mode: normal; // Vous pouvez utiliser 'normal' si vous ne souhaitez pas de mode de fusion
        margin-top: 50px;
        width: 100px;
    }
    h6{
        font-size: 15px;
        color: white;
    }
}
